body{
    background: linear-gradient(to bottom right, blue, white);
    background-size: contain;
}

form{
    text-align: center;
    margin:20px;
}

div{
    position: relative;
    /* border: 3px solid lightblue; */
    background-color: #0E2962;
    border-radius: 60px;
    width:70px;
    height:70px;
    display: block;
    /* alinea la imagen al centro */
    margin:auto;
    margin-top: 150px; 
}

img{
    width:50px;
    height:50px;
    position:absolute;
    margin-left: 10px;
    margin-top: 10px;
}


label{
    text-align: right;
}

form{
    
}